.experience_container{
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    place-items: center;
    margin: 0 auto;
    margin-top: 2rem;
}
.experience_container> div{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}
.experience_container> div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    color:default;
}
.experience_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}
.experience_frontend> h3{
    margin-bottom: 2rem;
}
.experience_details{
    display: flex;
    gap:1rem;
}
.exp-icon{
    margin-top: 6px;
    color:var(--color-primary)
}
@media screen and (max-width:767px){
    .experience_container{
        gap:1rem;
    }
    .experience_container>div{
        width:100%;
        padding:2rem 1rem;
    }
}